.navbar {
    font-weight: bold;
}

.navbar button {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}

.navbar button:hover {
    background-color: #6c757d;
    color: #000;
    border-color: #000;
}

.navbar-toggler {
    border: 1px solid #6c757d;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28108, 117, 125, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-nav {
    --bs-nav-link-color: #6c757d;
}

.nav-link:focus,
.nav-link:hover {
    --bs-nav-link-hover-color: #fff;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    --bs-navbar-active-color: #fff;
}

.status-available,
.status-on-loan,
.status-sold-out {
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

.status-available {
    background-color: green;
}

.status-on-loan {
    background-color: orange;
}

.status-sold-out {
    background-color: red;
    white-space: nowrap;
}

.table-responsive td {
    vertical-align: middle;
}

@media screen and (min-width:992px) {
    .wrapper {
        display: flex;
    }
}